<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompGroups</key>
	<array>
		<dict>
			<key>ComputerID</key>
			<string>Teacher</string>
			<key>Default</key>
			<false/>
			<key>PrinterAdmin</key>
			<array>
				<dict>
					<key>group</key>
					<string>group</string>
					<key>member</key>
					<string>Administrator</string>
				</dict>
			</array>
			<key>PrinterList</key>
			<array>
				<string>P379LIB2</string>
				<string>P379RM12</string>
				<string>P379OFF2</string>
				<string>P379MFP2</string>
				<string>P379MFP3</string>
			</array>
			<key>PrinterOperator</key>
			<array>
				<dict>
					<key>group</key>
					<string>group</string>
					<key>member</key>
					<string>students</string>
				</dict>
				<dict>
					<key>group</key>
					<string>group</string>
					<key>member</key>
					<string>teachers</string>
				</dict>
			</array>
			<key>RemovePrinterList</key>
			<array>
				<dict>
					<key>Compare</key>
					<string>=</string>
					<key>Name</key>
					<string>null</string>
					<key>Type</key>
					<string>protocol</string>
				</dict>
			</array>
			<key>everyone</key>
			<true/>
			<key>removeOD</key>
			<true/>
			<key>resetCUPS</key>
			<false/>
		</dict>
		<dict>
			<key>ComputerID</key>
			<string>_DEFAULT_</string>
			<key>Default</key>
			<true/>
			<key>PrinterAdmin</key>
			<array/>
			<key>PrinterList</key>
			<array/>
			<key>PrinterOperator</key>
			<array>
				<dict>
					<key>group</key>
					<string>group</string>
					<key>member</key>
					<string>Administrators</string>
				</dict>
			</array>
			<key>everyone</key>
			<false/>
			<key>removeOD</key>
			<false/>
			<key>resetCUPS</key>
			<true/>
		</dict>
	</array>
	<key>ComputerInfo</key>
	<string>Text4</string>
	<key>Version</key>
	<string>2.0</string>
	<key>log_file</key>
	<string>/var/log/installPrinters.log</string>
	<key>log_tag</key>
	<string>setnprn_Printers</string>
</dict>
</plist>
