<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompGroups</key>
	<array>
		<dict>
			<key>ComputerID</key>
			<string>Teacher</string>
			<key>Default</key>
			<false/>
			<key>PrinterAdmin</key>
			<array>
				<dict>
					<key>group</key>
					<string>user</string>
					<key>member</key>
					<string>cbeaccount</string>
				</dict>
			</array>
			<key>PrinterList</key>
			<array>
				<string>P404COL1</string>
				<string>P404MFP2</string>
				<string>P404MFP1</string>
			</array>
			<key>PrinterOperator</key>
			<array>
				<dict>
					<key>group</key>
					<string>group</string>
					<key>member</key>
					<string>CBEORG\Domain Users</string>
				</dict>
			</array>
			<key>RemovePrinterList</key>
			<array>
				<dict>
					<key>Name</key>
					<string>P404OFF1</string>
					<key>Type</key>
					<string>Description</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>mcx</string>
					<key>Type</key>
					<string>DeviceName</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>dnns</string>
					<key>Type</key>
					<string>Protocol</string>
				</dict>
			</array>
			<key>removeOD</key>
			<true/>
			<key>resetCUPS</key>
			<false/>
		</dict>
		<dict>
			<key>ComputerID</key>
			<string>Office</string>
			<key>Default</key>
			<false/>
			<key>PrinterList</key>
			<array>
				<string>P404MFP2</string>
				<string>P404OFF1</string>
				<string>P404MFP1</string>
				<string>P404COL1</string>
			</array>
			<key>PrinterOperator</key>
			<array>
				<dict>
					<key>group</key>
					<string>group</string>
					<key>member</key>
					<string>CBEORG\Domain Users</string>
				</dict>
			</array>
			<key>RemovePrinterList</key>
			<array/>
			<key>removeOD</key>
			<true/>
			<key>resetCUPS</key>
			<false/>
		</dict>
		<dict>
			<key>ComputerID</key>
			<string>_DEFAULT_</string>
			<key>Default</key>
			<true/>
			<key>PrinterList</key>
			<array/>
			<key>PrinterOperator</key>
			<array>
				<dict>
					<key>group</key>
					<string>group</string>
					<key>member</key>
					<string>CBEORG\Domain Users</string>
				</dict>
				<dict>
					<key>group</key>
					<string>group</string>
					<key>member</key>
					<string>CBEEDU\Domain Users</string>
				</dict>
			</array>
			<key>RemovePrinterList</key>
			<array/>
			<key>removeOD</key>
			<false/>
			<key>resetCUPS</key>
			<true/>
		</dict>
	</array>
	<key>ComputerInfo</key>
	<string>Text4</string>
	<key>Version</key>
	<string>2.0</string>
	<key>log_file</key>
	<string>/var/log/installPrinters.log</string>
	<key>log_tag</key>
	<string>Install_Printers_379_Teachers</string>
</dict>
</plist>
